@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

:root {
    --base: #e0e0e0;
    --heigth: #a41637;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--base);
}

header {
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 10px;

    height: 60px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.61);
}

header > img {
    width: 140px;
    height: 70px;
    padding: 10px;
}

header > .vertical_line {
    width: 3px;
    height: 100%;
    background-color: grey;
}

section {
    background-color: aliceblue;
}