.container-provas {
    width: 100%;
    height: 100vh;
}

.container-provas>.top-container{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-provas>.top-container>a {
    text-decoration: none;
    padding: 10px;
    background-color: var(--heigth);
    border-radius: 10px;
    font-weight: bold;
    color: #fff;
    font-size: 0.9em
}

@keyframes transform-colors {
    0% {
        background-color: var(--heigth);
    }

    30% {
        background-color: var(--menu);
    }

    80% {
        background-color: var(--menu-height);
    }
}

.container-provas>.top-container>a:hover {
  animation: transform-colors 1.5s alternate-reverse infinite;
}

.top-prova {
    position: absolute;
    width: 100vw;
    left: 0px;
    background-color: #546f80;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 40px;
}

.top-prova > h3 {
    color: #fff;
}

.top-prova > div {
    display: flex;
    gap: 20px;
}

.top-prova > div > span {
    display: flex;
    align-items: center;
    gap: 10px;
}

.top-prova > div > span > p{
    font-size: 1.2em;
    font-weight: bolder;
    color: blanchedalmond;
}

.top-prova > div > span > i{
    font-size: 1.2em;
}

.fa-circle-check {
    color: chartreuse;
}

.fa-clock {
    color: rgb(255, 60, 0);
}

.prova-container {
    margin-top: 80px;
    background-color: #fff;
    width: 100%;
    height: 78vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.question-container {
    width: 100%;
    max-width: 80%;
    padding: 20px;
}

.question-container > form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type="radio" i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 0px 5px;
    padding: initial;
    border: initial;
    margin-right: 5px;
}