@charset "UTF-8";
@font-face {
    font-family: 'Poppins';

    src: url('assets/fonts/Poppins-Italic.ttf') format('truetype');
    font-weight: 400;

    src: url('assets/fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;

    src: url('assets/fonts/Poppins-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --Fonte: 'Poppins', sans-serif;
    
    /* Primary */

    --Purple: rgb(133, 77, 255);
    --Many-red: rgb(255, 152, 152);
    --Light-red: rgb(255, 87, 87);

    /*Neutral*/

    --White: rgb(255, 255, 255);
    --Off-white: rgb(240, 240, 240);
    --Light-grey: rgb(219, 219, 219);
    --Smokey-grey: rgb(113, 111, 111);
    --Off-black: rgb(20, 20, 20);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--Fonte);
    background-color: var(--Off-white);
    min-height: 100vh;
    width: 100%;
    position: relative;
}


#bloco {
    background-color: var(--White);
    width: 650px;
    height: 100%;
    padding: 10px;
    border-radius: 20px 20px 200px 20px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.081);
}

#caixa_inputs {
    margin-left: 25px;
    margin-top: 20px;
}

form {
    display: flex;
}

.entrada {
    display: inline-block;
    text-align: left;
    margin-right: 20px;
}

.entrada input {
    display: block;
    margin-top: 5px;
    width: 150px;
    height: 55px;
    outline: none;
    border: 1.5px solid var(--Light-grey); /* Substituí border-width e border-color por border */
    border-radius: 8px;
    padding: 10px 20px; /* Simplificado padding para top, right, bottom, left */
    font-size: 32px;
    font-weight: 600;
    box-sizing: border-box; /* Garante que o tamanho inclua borda e preenchimento */
    transition: border 0.3s ease-in-out;
}

.entrada input::placeholder {
    color: var(--Smokey-grey);
}

.entrada input:focus {
    border: 1.5px solid var(--Purple);
}

#bloco_botao {
    display: flex;
    justify-content: right;
    position: relative; /* Adicionado para tornar a posição absoluta relativa ao bloco_botao */
}

#linha {
    position: absolute;
    width: 85%;
    height: 2px;
    background-color: var(--Light-grey);
    bottom: 50%; /* Posição central na parte inferior do bloco_botao */
    left: 4%;
    transform: translateY(50%);
    z-index: -1; /* Coloca a linha abaixo do bloco_botao */
}

.botao {
    margin: 10px 25px;
    z-index: 1; /* Coloca o botão acima da linha */
}

.botao button {
    background-color: var(--Purple);
    border: none;
    
    border-radius: 100%;
    transition: background-color 0.3s ease-in-out;
}

.botao button:hover {
    background-color: var(--Off-black);
}

.botao button > img {
    padding: 20px;
    width: 30px;
}

.entrada label {
    font-size: 12px;
    color: var(--Off-black);
    letter-spacing: 0.2em;
    font-weight: 400;
}

#idade {
    margin-left: 30px;
    text-align: left;
    padding-bottom: 35px;
    line-height: 4.5em;
}

#idade p {
    margin-left: 8px;
    font-weight: 1000;
}

.erro-label {
    color: var(--Light-red) !important;
}

.erro-input {
    border: 1.5px solid var(--Many-red) !important;
    box-sizing: border-box !important; /* Garante que o tamanho inclua borda e preenchimento */
    transition: border-color 0.3s ease-in-out !important;
}

.erro-input:focus {
    border: 2px solid var(--Light-red) !important;
}

.mensagem-erro {
    color: var(--Light-red);
    font-size: 10px;
    margin-top: 5px;
}

.purple-text {
    color: var(--Purple);
}

.years, .days, .months{
    display: flex;
    font-size: 80px;
}

.p_roxo {
    color: var(--Purple);
    font-size: 90px;
}

#my-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 100000;
    visibility: visible;
    pointer-events: none;
}