* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

:root {
    --back: #000000;
    --menu: #121212;
    --font: #FFFFFF;
    --font-not-select: #B3B3B3;
    --highlights: #1ED760;
    --songShortcut: #ffffff1f;
    --songShortcutHover: #ffffff57;
    --header-color: #20115C;
    --playerNow: #1070B0;
}

body {
    display: flex;
    background-color: var(--back);
    color: var(--font);
    height: 100vh;
    width: 100vw;
    padding-bottom: 10px;
}

.popup {
    display: none;
    position: absolute;
    background-color: var(--menu);
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.623);
    z-index: 10;
    font-size: 0.8em;



    animation-name: popUp;
    animation-duration: 0.5s;
    transition: all 0.3s ease-in-out;


}

@keyframes popUp {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    50% {
        opacity: 0.9;
        transform: scale(1.22);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

i {
    cursor: pointer;
}

nav {
    display: flex;
    flex-direction: column;
    width: 80px;
    margin-right: 10px;
    margin-left: 10px;
    justify-items: center;
}

nav > ul {
    padding: 20px;
    width: 100%;
    background-color: var(--menu);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
}

nav > ul > li {
    list-style-type: none;
    font-size: 23px;
    color: var(--font-not-select);
    transition: color 0.2s ease-in-out;
    cursor: pointer;
}

nav > ul > li:hover {
    color: var(--font);
}

nav > ul > li > img {
    width: 60px;
    border-radius: 5px;
}

.top {
    margin-top: 40px;
    height: 160px;
    margin-bottom: 10px;
}

.library {
    height: 76vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.library::-webkit-scrollbar {
    width: 3px;
    z-index: 1;
}

#center {
    margin-top: 40px;
    width: 100%;
    background-color: var(--menu);
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

#center::-webkit-scrollbar {
    right: 20px;
    width: 2px;
    padding: 10px 0;
}

#center::-webkit-scrollbar-thumb {
    background-color: var(--songShortcutHover);
    border-radius: 10px;
}

header {
    border-radius: 10px;
    padding: 20px;
    background: linear-gradient(to bottom, var(--header-color) 60%, var(--menu));
}

header > h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.navBar {
    margin-bottom: 20px;
}

.navBar > ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
}

.navBar > ul > li {
    padding: 12px;
    background-color: var(--back);
    border-radius: 50%;
}

.navBar > ul > li:nth-child(2) {
    opacity: 50%;
}

.songs-initial {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

.song-shortcut {
    background-color: var(--songShortcut);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
}

.song-shortcut > i {
    display: none;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%); 
}

.song-shortcut:hover {
    background-color: var(--songShortcutHover);
}

.song-shortcut:hover > i {
    display: block;
    padding: 8px;
    font-size: 20px;
    border-radius: 50%;
    background-color: var(--highlights);
    color: var(--back);
}


.song-shortcut > div {
    display: flex;
    gap: 10px;
    align-items: center;
}

.song-shortcut > div > img {
    width: 55px;
    border-radius: 5px;
    height: 100%;
}

.geralScreen {
    padding: 20px;
}

.geralScreen > h2 {
    font-size: 1.6em;
    margin-bottom: 10px;
}

.playlistContent {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}

.playlist {
    background-color: var(--songShortcut);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playlist > h3 {
    
}

.playlist > img {
    width: 180px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 10px 4px rgba(0, 0, 0, 0.541);
}

#player-now {
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 40px;
    width: 100%;
    max-width: 21.7%;
    background-color: var(--playerNow);
    padding: 20px;
    overflow-y: auto;
}

#player-now::-webkit-scrollbar {
    right: 20px;
    width: 2px;
    padding: 10px 0;
}

#player-now::-webkit-scrollbar-thumb {
    background-color: var(--songShortcutHover);
    border-radius: 10px;
}

.topPlayer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#player-now > .topPlayer > h2 {
    font-size: 1.1em;
}

#player-now > .topPlayer > i {
    padding: 10px;
    font-size: 20px;
}

#player-now > img {
    width: 100%;
    max-width: 100%;
    border-radius: 10px;
}

.music_status {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.music_status > div > h3 {
    font-size: 1.5em;
    cursor: pointer;
}

.music_status > div > h3:hover {
    text-decoration: underline;
}

.music_status > div > p {
    margin-top: 5px;
    font-size: 1em;
    opacity: 60%;
    cursor: pointer;
}

.music_status > .icons > i:hover {
    cursor: pointer;
}

.music_status > .icons {
    display: flex;
    gap: 20px;
}

.music_status > .icons i.fa-circle-check {
    color: var(--highlights);
}

.lyrics {
    margin-top: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--songShortcut);
    border-radius: 10px;
}

.lyrics > h3 {
    font-size: 1em;
}

.lyrics > button {
    background-color: transparent;
    outline: none;
    color: var(--font);
    border: 1px solid var(--songShortcutHover);
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-weight: bolder;
}

.lyrics > button:hover {
    border: 1px groove var(--font);
    box-shadow: 0 0 5px var(--font);
}

.about {
    margin-top: 10px;
    padding: 20px;
    background-color: var(--songShortcut);
    border-radius: 10px;
    cursor: pointer;
}

.picture {
    height: 300px;
    background: url("images/tumble_between_friends.jpg") no-repeat center center;
    background-size: cover;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 -10px 20px inset #2d81ba;
}

.picture h3 {
    font-size: 0.96em;
    padding: 20px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.452);
}

.description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    margin-top: 8px
}

.description > h4:hover {
    text-decoration: underline;
}

.description > p {
    font-size: 0.89em;
}

.description > p:hover {
    text-decoration: none;
}

.listeners {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.listeners > p {
    font-size: 0.96em;
}

.listeners > p:hover {
    text-decoration: none;
}

.listeners > button {
    background-color: transparent;
    outline: none;
    color: var(--font);
    border: 1px solid var(--songShortcutHover);
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-weight: bolder;
}

.listeners > button:hover {
    border: 1px groove var(--font);
    box-shadow: 0 0 5px var(--font);
}

.nextSongContent {
    margin-top: 10px;
    background-color: var(--songShortcut);
    border-radius: 10px;
    padding: 20px;
}

.topNext {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topNext > a {
    text-decoration: none;
    font-size: 0.9em;
    font-weight: bold;
    color: var(--font-not-select);
    /*transition: all 0.2s ease-in-out;*/
}

.topNext > a:hover {
    color: var(--font);
    text-decoration: underline;
}

.nextSong {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.nextSong > i {
    width: 10px;
    margin-right: 5px;
}

.nextSong > .fa-play {
    display: none;
}

.nextSong:hover > .fa-play {
    display: block;
}

.nextSong:hover > .fa-music {
    display: none;
}

.nextSong > img {
    width: 60px;
    border-radius: 10px;
}

.nextSong > div > h5 {
    font-size: 1em;
}

.nextSong > div > p {
    font-size: 0.87em;
}

.nextSong > div > h5:hover, p:hover {
    text-decoration: underline;
}

.nextSong:hover {
    background-color: var(--songShortcutHover);
}