* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

:root {
    --back: #000000;
    --menu: #121212;
    --font: #FFFFFF;
    --font-not-select: #B3B3B3;
    --highlights: #1ED760;
    --songShortcut: #ffffff1f;
    --songShortcutHover: #ffffff57;
    --header-color: #20115C;
    --playerNow: #000000;
}

body {
    display: flex;
    background-color: var(--back);
    color: var(--font);
    height: 100vh;
    width: 100vw;
    padding: 20px 10px 120px 10px;
    overflow: hidden;
}

.popup {
    display: none;
    position: absolute;
    background-color: var(--menu);
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.623);
    z-index: 10;
    font-size: 0.8em;



    animation-name: popUp;
    animation-duration: 0.5s;
    transition: all 0.3s ease-in-out;


}

@keyframes popUp {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    50% {
        opacity: 1;
        transform: scale(1.05);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

i {
    cursor: pointer;
}

/* Ajustes */

nav {
    display: flex;
    flex-direction: column;
    width: 100px;
    margin-right: 10px;
    justify-items: center;
}

nav > ul {
    width: 100%;
    background-color: var(--menu);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

nav > ul.playlistNavContent {
    gap: 10px;
    padding-top: 60px;
    padding-bottom: 10px;
}

li > i.fa-list {
    position: fixed;
    left: 10px;
    top: 187px;
    padding: 20px 25px;
    background-color: var(--menu);
    border-radius: 5px;
}

nav > ul > li {
    list-style-type: none;
    font-size: 23px;
    color: var(--font-not-select);
    transition: color 0.2s ease-in-out;
    cursor: pointer;
    padding: 5px 10px;
}

nav > div > i {
    list-style-type: none;
    font-size: 23px;
    color: var(--font-not-select);
    transition: color 0.2s ease-in-out;
    cursor: pointer;
    padding: 20px 20px 20px 20px;
}

nav > ul > li:hover {
    color: var(--font);
}

nav > ul.playlistNavContent > li:hover {
    color: var(--font);
    background-color: var(--songShortcut);
}

nav > ul > li > img {
    height: 100%;
    width: 100%;
    max-width: 60px;
    max-height: 50px;
    border-radius: 5px;
}

#icon-lybrary {
    padding: 0;
}

.top {
    height: 210px;
    padding-top: 10px;
    margin-bottom: 10px;
    gap: 10px;
}

.playlistNavContent {
    padding-top: 20px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.playlistNavContent::-webkit-scrollbar {
    width: 3px;
    z-index: 1;
}

.gradient {
    position: fixed;
    z-index: 10;
    top: 28.5%;
    width: 80px;
    height: 10px;
    background: linear-gradient(to bottom, var(--menu), rgba(0, 0, 0, 0));
}

/* Ajustes */

#center {
    width: 100%;
    background-color: var(--menu);
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 3px;
}

#center::-webkit-scrollbar {
    width: 2px;
    padding: 10px 0;
}

#center::-webkit-scrollbar-thumb {
    background-color: var(--songShortcutHover);
    border-radius: 10px;
}

#pageHeader {
    border-radius: 10px;
    padding: 20px;
    background: linear-gradient(to bottom, var(--header-color) 40%, var(--menu));
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0, 0.55, 0.45, 1);
}

#pageHeader.header-red {
    background: linear-gradient(to bottom,#21005585 70%, var(--menu) );
}

/* Estilo do header para a cor verde */
#pageHeader.header-green {
    background: linear-gradient(to bottom,#74916aa6 70%, var(--menu));
}

/* Estilo do header para a cor azul */
#pageHeader.header-blue {
    background: linear-gradient(to bottom,#ba8a6377 70%, var(--menu));
}

#pageHeader > h1 {
    font-size: 2em;
    margin-bottom: 10px;
    cursor: context-menu;
}

.navBar {
    margin-bottom: 20px;
}

.navBar > ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
}

.navBar > ul > li {
    padding: 12px;
    background-color: var(--back);
    border-radius: 50%;
}

.navBar > ul > li:nth-child(2) {
    opacity: 50%;
}

.topGeralScreen {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.topGeralScreen > h2 {
    font-size: 1.4rem;
}

.topGeralScreen > a {
    text-decoration: none;
    color: var(--font-not-select);
    font-size: 0.9rem;
    font-weight: bold;
}

.topGeralScreen > a:hover {
    text-decoration: underline;
}

.songs-initial {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

.song-shortcut {
    background-color: var(--songShortcut);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
}

.song-shortcut > i {
    display: none;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%); 
}

.song-shortcut:hover {
    background-color: var(--songShortcutHover);
}

.song-shortcut:hover > i {
    display: block;
    padding: 8px;
    font-size: 20px;
    border-radius: 50%;
    background-color: var(--highlights);
    color: var(--back);
}


.song-shortcut > div {
    display: flex;
    gap: 10px;
    align-items: center;
}

.song-shortcut > div > img {
    width: 55px;
    border-radius: 5px;
    height: 100%;
}

.geralScreen {
    padding: 20px;
}

.geralScreen > h2 {
    font-size: 1.6em;
    margin-bottom: 10px;
}

.playlistContent {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}

.playlist {
    background-color: var(--songShortcut);
    padding: 12px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.playlist > i {
    display: none;
    position: absolute;
    top: 55%;
    right: 22px;
    transform: translateY(-50%); 
}

.playlist:hover > i {
    display: block;
    padding: 11px;
    font-size: 20px;
    border-radius: 50%;
    background-color: var(--highlights);
    color: var(--back);
    box-shadow: 0 0 5px;
}

.waves {
    position: absolute;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
}

.waves > img {
    width: 181px;
    border-radius: 10px;
    opacity: 0.9;
}

.playlist > div > h3 {
    font-size: 1em;
}

.playlist > div > p {
    margin-top: 8px;
    font-size: 0.8em;
    padding-bottom: 5px;
}

.playlist > img {
    width: 180px;
    height: 180px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 10px 4px rgba(0, 0, 0, 0.541);
}

/*
#light-rose {
    filter: saturate(3) brightness(3) sepia(1) hue-rotate(-140deg);
}

#green {
    filter: saturate(2) brightness(2.2) sepia(0) hue-rotate(-160deg);
}

#blue {
    filter: saturate(3) brightness(2.2) sepia(6) hue-rotate(-180deg);
}

#yellow {
    filter: saturate(4) brightness(5) sepia(1) hue-rotate(-350deg);
}

#gold {
    filter: saturate(1) brightness(1) sepia(1) hue-rotate(310deg);
}
*/

.playlist:hover > img {
    transform: scale(1.02);
    filter: brightness(0.7);
}

.playlist:hover > .waves > img {
    transform: scale(1.02);
    filter: brightness(0.7);
}

.playlist > div > p:hover {
    text-decoration: none;
}

.player-now {
    border-radius: 10px;
    margin-left: 10px;
    width: 100%;
    max-width: 413px;
    background-color: var(--playerNow);
    padding: 20px;
    overflow-y: auto;
    transition: background-color 0.5s ease-in-out;
}

.player-now::-webkit-scrollbar {
    right: 20px;
    width: 2px;
    padding: 10px 0;
}

.player-now::-webkit-scrollbar-thumb {
    background-color: var(--songShortcutHover);
    border-radius: 10px;
}

.topPlayer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.player-now > .topPlayer > h2 {
    font-size: 1.1em;
}

.player-now > .topPlayer > i {
    padding: 10px;
    font-size: 20px;
}

.player-now > img {
    width: 100%;
    max-width: 100%;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.315);
}

.music_status {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.music_status > div > h3 {
    font-size: 1.5em;
    cursor: pointer;
}

.music_status > div > h3:hover {
    text-decoration: underline;
}

.music_status > div > p {
    margin-top: 5px;
    font-size: 1em;
    opacity: 60%;
    cursor: pointer;
}

.music_status > .icons > i:hover {
    cursor: pointer;
}

.music_status > .icons {
    display: flex;
    gap: 20px;
}

.music_status > .icons i.fa-circle-check {
    color: var(--highlights);
}

.lyrics {
    margin-top: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--songShortcut);
    border-radius: 10px;
}

.lyrics > h3 {
    font-size: 1em;
    cursor: context-menu;
}

.lyrics > button {
    background-color: transparent;
    outline: none;
    color: var(--font);
    border: 1px solid var(--songShortcutHover);
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-weight: bolder;
}

.lyrics > button:hover {
    border: 1px groove var(--font);
    box-shadow: 0 0 5px var(--font);
}

.about {
    margin-top: 10px;
    padding: 20px;
    background-color: var(--songShortcut);
    border-radius: 10px;
    cursor: pointer;
}

.picture {
    height: 300px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 -10px 20px 5px inset var(--playerNow);
}

.picture h3 {
    font-size: 0.96em;
    padding: 20px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.452);
}

.description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    margin-top: 8px
}

.description > h4:hover {
    text-decoration: underline;
}

.description > p {
    font-size: 0.89em;
}

.description > p:hover {
    text-decoration: none;
}

.listeners {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.listeners > p {
    font-size: 0.96em;
    cursor: context-menu;
}

.listeners > p:hover {
    text-decoration: none;
}

.listeners > button {
    background-color: transparent;
    outline: none;
    color: var(--font);
    border: 1px solid var(--songShortcutHover);
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-weight: bolder;
}

.listeners > button:hover {
    border: 1px groove var(--font);
    box-shadow: 0 0 5px var(--font);
}

.nextSongContent {
    margin-top: 10px;
    background-color: var(--songShortcut);
    border-radius: 10px;
    padding: 20px;
}

.topNext {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topNext > a {
    text-decoration: none;
    font-size: 0.9em;
    font-weight: bold;
    color: var(--font-not-select);
}

.topNext > a:hover {
    color: var(--font);
    text-decoration: underline;
}

.nextSong {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.nextSong > i {
    width: 10px;
    margin-right: 5px;
}

.nextSong > .fa-play {
    display: none;
}

.nextSong:hover > .fa-play {
    display: block;
}

.nextSong:hover > .fa-music {
    display: none;
}

.nextSong > img {
    width: 60px;
    border-radius: 10px;
}

.nextSong > div > h5 {
    font-size: 1em;
}

.nextSong > div > p {
    font-size: 0.87em;
}

.nextSong > div > h5:hover, p:hover {
    text-decoration: underline;
}

.nextSong:hover {
    background-color: var(--songShortcutHover);
}

#player_song {
    position: absolute;
    bottom: 15px;
    left: 15px;
    padding: 10px;
    background-color: var(--menu);
    border-radius: 10px;
    width: calc(100% - 25px);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.song_description_content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.song_description_content > div > h3 {
    font-size: 1em;
    cursor: pointer;
}

.song_description_content > div > h3:hover {
    text-decoration: underline;
}

.song_description_content > div > p {
    margin-top: 5px;
    font-size: 0.9em;
    opacity: 60%;
    cursor: pointer;
}

.song_description_content > img {
    width: 70px;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.582);
}

@keyframes addInPlaylist {
    0% {
        color: var(--font-not-select);
        box-shadow: 0px 0px 3px 3px var(--highlights);
    }

    100% {
        color: var(--highlights);
    }
}

.song_description_content > i {
    color: var(--font-not-select);
    font-size: 0.6em;
    border: 1px solid var(--font-not-select);
    padding: 5px;
    border-radius: 50%;
}

.song_description_content > .fa-circle-check {
    display: none;
    animation-name: addInPlaylist;
    animation-duration: 0.5s;
    color: var(--highlights);
    padding: 1px;
    font-size: 1.2em;
    border: none;
}

.song_description_content > i.fa-plus:hover {
    color: var(--font);
    border: 1px solid var(--font);
}

.song_description_content {
    width: 100%;
    max-width: 500px;
}

.player-controls {
    width: 100%;
    max-width: 500px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls-bar {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-bottom: 10px;
}

.controls-bar > i {
    font-size: 1.2em;
    color: var(--font-not-select);
}

#pause {
    font-size: 2em;
    color: var(--font);
    transition: all 0.2s ease-in-out;
}

#pause:hover {
    transform: scale(1.2);
}

.playback-bar {
    display: flex;
    align-items: center;
    gap: 20px;
}

.adjusts-bar {
    width: 100%;
    max-width: 500px;

    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.progress-bar {
    width: 400px;
    height: 4px;
    background-color: var(--songShortcut);

    position: relative;
}

.progress-inner {
    width: 0%;
    height: 100%;
    background-color: var(--font);
    position: absolute;
    top: 0;
    left: 0;
}

@media screen and (max-width: 1840px) {

    .playlistContent {
        grid-template-columns: repeat(5, 1fr);
    }

    .playlistContent div:last-child {
        display: none;
    }
}

@media screen and (max-width: 1740px) {
    
    .waves > img {
        width: 151px;
        border-radius: 10px;
        opacity: 0.9;
    }
    
    .playlist > div > h3 {
        font-size: 0.9em;
    }
    
    .playlist > div > p {
        margin-top: 8px;
        font-size: 0.8em;
        padding-bottom: 5px;
    }
    
    .playlist > img {
        width: 150px;
        height: 150px;
        margin-bottom: 20px;
        border-radius: 10px;
        box-shadow: 0 10px 10px 4px rgba(0, 0, 0, 0.541);
    }


}

@media screen and (max-width: 1540px) {
    .player-now {
        width: 100%;
        padding: 15px;
    }

    .waves > img {
        width: 75%; /* Porcentagem da largura do contêiner pai */
        border-radius: 10px;
        opacity: 0.9;
    }
    
    .playlist > div > h3 {
        font-size: 1em; /* Tamanho da fonte em 'em' */
    }
    
    .playlist > div > p {
        margin-top: 8px;
        font-size: 1em; /* Tamanho da fonte em 'em' */
        padding-bottom: 5px;
    }
    
    .playlist > img {
        width: 80%; /* Porcentagem da largura do contêiner pai */
        height: auto; /* Altura automática */
        margin-bottom: 20px;
        border-radius: 10px;
        box-shadow: 0 10px 10px 4px rgba(0, 0, 0, 0.541);
    }
}

@media screen and (max-width: 1570px) {

    .waves > img {
        width: 161px;
        border-radius: 10px;
        opacity: 0.9;
    }
    
    .playlist > div > h3 {
        font-size: 1em;
    }
    
    .playlist > div > p {
        margin-top: 8px;
        font-size: 0.9em;
        padding-bottom: 5px;
    }
    
    .playlist > img {
        width: 160px;
        height: 160px;
        margin-bottom: 20px;
        border-radius: 10px;
        box-shadow: 0 10px 10px 4px rgba(0, 0, 0, 0.541);
    }    

}

@media screen and (max-width: 1490px) {

    .player-now {
        width: 100%;
        padding: 15px;
    }
}

@media screen and (max-width: 1480px) {
    .playlistContent {
        grid-template-columns: repeat(4, 1fr);
    }

    .playlistContent > :nth-last-child(-n+2) {
        display: none;
    }
}

@media screen and (max-width: 1430px) {

    .playlistContent .waves > img {
        width: 75%; /* Porcentagem da largura do contêiner pai */
        border-radius: 10px;
        opacity: 0.9;
    }
    
    .playlistContent .playlist > div > h3 {
        font-size: 1.2em;
    }

    .playlist > img {
        width: 80%; /* Porcentagem da largura do contêiner pai */
        height: auto; /* Altura automática */
        margin-bottom: 20px;
        border-radius: 10px;
        box-shadow: 0 10px 10px 4px rgba(0, 0, 0, 0.541);
    }
}

@media screen and (max-width: 1344px) {
    .player-now {
        width: 100%;
        max-width: 320px;
        padding: 15px;
    }

    .waves > img {
        width: 75%; /* Porcentagem da largura do contêiner pai */
        border-radius: 10px;
        opacity: 0.9;
    }
    
    .playlist > div > h3 {
        font-size: 1em; /* Tamanho da fonte em 'em' */
    }
    
    .playlist > div > p {
        margin-top: 8px;
        font-size: 1em; /* Tamanho da fonte em 'em' */
        padding-bottom: 5px;
    }
    
    .playlist > img {
        width: 80%; /* Porcentagem da largura do contêiner pai */
        height: auto; /* Altura automática */
        margin-bottom: 20px;
        border-radius: 10px;
        box-shadow: 0 10px 10px 4px rgba(0, 0, 0, 0.541);
    }

    .song-shortcut > div > h3 {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 1088px) {
    
    .playlistContent {
        grid-template-columns: repeat(3, 1fr);
    }

    .playlistContent .playlist:nth-last-child(-n+3) {
        display: none;
    }

    .waves > img {
        width: 100%; /* Porcentagem da largura do contêiner pai */
        border-radius: 10px;
        opacity: 0.9;
    }
    
    .playlist > div > h3 {
        font-size: 1em; /* Tamanho da fonte em 'em' */
    }
    
    .playlist > div > p {
        margin-top: 8px;
        font-size: 0.9em; /* Tamanho da fonte em 'em' */
        padding-bottom: 5px;
    }
    
    .playlist > img {
        width: 80%; /* Porcentagem da largura do contêiner pai */
        height: 80%; /* Altura automática */
        margin-bottom: 20px;
        border-radius: 10px;
        box-shadow: 0 10px 10px 4px rgba(0, 0, 0, 0.541);
    }

    .player-now {
        width: 100%;
        max-width: 300px;
        padding: 15px;
    }

    .picture {
        height: 150px;
    }
}

@media screen and (max-width: 920px) {
    .playlistContent {
        grid-template-columns: repeat(2, 1fr);
    }

    .playlistContent .playlist:nth-last-child(-n+4) {
        display: none;
    }

    .song-shortcut > div > h3 {
        font-size: 0.8rem;
    }
}